/* Global Layout Set-up */
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: white;
  background: #093145;
  letter-spacing: 1.5px;
}

/* Link Styles */

a {
  text-decoration: none;
  color: #efd469;
}

a:hover {
  color: #3c6478;
}

/* Section Styles */

label,select {
  cursor: pointer;
}

.main-nav {
  width: 100%;
  background: #093145;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav .name {
  display: block;
  margin-right: auto;
  color: white;
  letter-spacing: 5px;
}

.nav li {
  padding: 5px 10px 10px 10px;
}

.nav a {
  transition: all .5s;
}

.nav a:hover {
  color: white
}

header {
  text-align: center;
  background: url('../img/concert02_no_text.jpg') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
  height: 350px;
}

#banner-h1{
  font-size: 36px;
  color: black;
  opacity: 0.7;
  margin-top: 75px
}

#banner-p{
  font-size: 24px;
  font-weight: bold;
  color:darkred; 
  margin-top: 20px;
}

.tag {
  color: black;
  padding: 10px;
  letter-spacing: 5px;
}

.name{
  font-weight: 300;
}

header .name{
  font-size: 3em;
}
.tagline {
  font-weight: 600;
  padding: 20px;
  text-transform: uppercase;
  color: #efd469
}

.card {
  margin: 30px;
  padding: 20px 40px 40px;
  text-align: left;
  border-top: 4px solid #efd469;
  clear: both;
}
.card:hover {
  border-color: white;
}

.photo{
  display: block;
  width: 250px;
  height: 0%;
  margin: 0 auto;
}

.information{
  width: 100%;
  text-align: center;
  /*display: inline-block;
  position: absolute;*/
}

.heading{
  font-size: 20px;
  text-transform: uppercase;
  color: #efd469;
  margin-top: 10px;
  font-weight: 300;

}

p{
  font-size: 16px;
   font-weight: 300;
}

.buy, .submmit {
  color: #093145;
  font-size: 16px;
  font-weight: bold;
}

button {
  height: 30px;
  width: 175px;  
  background:#efd469;
  border:none;
  border-radius: 10px;
  margin: 10px 0px;
}

/* Footer styles */

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;

  transition: all .5s;
}

a.social:hover {
opacity:0.5 ;
}
.clearfix {
  clear: both;
}

/* Styles for larger screens */
@media screen and (min-width: 760px) {

  .flex {
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: flex;
    max-width: 1200px;
    -ms-flex-pack: distribute;
  }

  .heading{
    font-size: 24px;
  }

  #banner-h1{
  font-size: 64px;
}

#banner-p{
  font-size: 34px;
}

  header {
    min-height: 470px;
  }

  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }


  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }

  .card{
    margin: 40px auto;
    padding: 20px 40px 40px;
    width: 80%;
    max-width: 1000px;
  }

  .photo{
    width: 40%;
    margin: 20px 30px;
  }

  .information{
    text-align: left;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }
}
