/* Survey page styles */
.card{
  padding-right: 5px; 
  padding-left: 5px;
}

form {
  margin: 20px auto;
  padding: 5px;
  text-align: left;
  display: inline-block;
}

fieldset{
  border:none;
}

legend {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #efd469;
  font-size: 20px; 
}

 .p{
  margin-top: 20px;
  margin-bottom: 5px;
  padding: 0px;
  color: #efd469;
  font-size: 16px;
}

input{
  outline: none;
}
textarea:focus,
input:focus {
  background: lightgray;
  transition: 1s;
}

.newsletter input{
  height: 22px;
  width: 300px;
}

label {
  display: inline-block;
  font-size: 14px;
  color: white;
  margin: 10px auto;
  padding: 5px;
}

.survey label{
  margin: 0px;
}
.newsletter label{
  color: #efd469;
  margin: 10px 0px 0px 0px;
  padding: 0px;
  text-align: left;
}
select {
  width: 100%;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  margin:10px 0px;
}

textarea {
  outline: none;
  height: 75px;
  width: 100%;
  margin: 10px 0px; 
}

input[type=radio]:checked + label{
  color: #efd469;
  border-radius: 5px;
  transition: .3s;
}

.photo{
  width: 85%;
  padding: 10px;
}

.container{
  text-align: center;
}

.submmit{
  margin-top: 30px;
}


/* Styles for larger screens */
@media screen and (min-width: 760px) {
    
    .flex {
    display: none;      /* TWEENER - IE 10 */
    display: initial;
    max-width: 1200px;
    -ms-flex-pack: initial;
  }

  .photo{
  width: 75%;
    margin: auto;
  }
  textarea{
    font-size: 14px;
  }

  fieldset {
    width: 315px;
  }

  .newsletter{
    margin: 0pc auto;
  }
  #name, #email, #re-email {
    height: 30px;
    font-size: 14px;
  }
}

@media screen and (min-width: 1024px){
   .flex {
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: flex;
    -ms-flex-pack: distribute;
  }

.photo{
  width: 50%;
}

}

