/* Tour page styles */

pre {
  font-family: 'Open Sans', sans-serif;
}

.heading{
  display: inline-block;
  margin: 0;
}

.pick{
  width: 40px;
  height: 0%;
  padding: 10px;
}

table {
	text-align: center;
	margin: 0 auto;
}

table,th, td {
	border-spacing: 10px;
	border:4px solid #093145;
	border-collapse: collapse;
	color: #efd469 ; 
	background:#9a2617;
}

td {	
 color: white;
}
